.center {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}

@font-face {
    font-family: StratosSkyeng;
    src: url("/fonts/Desktop\ fonts/stratosskyeng-regular.otf")
        format("opentype");
}

@font-face {
    font-family: StratosSkyengLight;
    src: url("/fonts/Desktop\ fonts/stratosskyeng-light.otf") format("opentype");
}

body {
    background-color: #004980;
    font-family: StratosSkyeng;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    min-width: 480px;
    min-height: 459px;
    background-color: #c2f5ff;
    border-radius: 12px;
}

.header {
    margin-top: 60px;
    color: #004980;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levels {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.levelone,
.leveltwo,
.levelthree {
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 64px;
    color: #0080c1;
    width: 98px;
    height: 98px;
    border-radius: 12px;
    border: none;
    background-color: #fff;
}

.levelone:hover {
    background-color: #a3a7aa;
}

.leveltwo:hover {
    background-color: #a3a7aa;
}

.levelthree:hover {
    background-color: #a3a7aa;
}

.btn,
.start-again-btn {
    font-family: StratosSkyengLight;
    margin-top: 25px;
    width: 246px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background-color: #7ac100;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.btn:hover {
    background-color: #b5d086;
}

.choosed {
    background-color: #5e7485;
}

.game-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.timer-container {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.timer-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 39px;
}

.min,
.sek {
    font-family: StratosSkyengLight;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.timer {
    font-family: StratosSkyeng;
    width: 155px;
    height: 72px;
    font-weight: 400;
    font-size: 64px;
    color: #fff;
    line-height: 60px;
}

.start-again-btn {
    margin-bottom: 12px;
    justify-self: end;
}

.cards {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(9, 11%);
    grid-gap: 10px 9px;
}

.closed-card {
    content: url("/img/closed-card.svg");
}
